@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    font-family: 'Arvo', serif;
    transition: all .3s linear;
    font-family: 'Times New Roman', Times, serif;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    width: 10vw;
}

header .navbar a {
    color: #EDF2F4;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    font-weight: bold;
}
header .logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5%;
    margin-top: -1%;
    text-decoration: none;
    left: 0%;
}


.img1 {
    height: 500px;
    width: 500px;
}
header .navbar a:hover {
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

header #menu-btn {
    display: none;
    color: #EF233C;
    cursor: pointer;
}

header #menu-btn:hover {
    color: #EDF2F4;
}


.card .burger-detail .subheading {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}

.card .burger-detail blockquote {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1em;
    color: white;

}

.card:hover .burger-detail {
    height: calc(82%);
    padding-top: 100px;
}

.card .burger-detail h5 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
    color: white;

}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    padding: 30px 15px;
    background: linear-gradient(45deg, #f9faf966, #f6f9f566);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
}
.login .login-form {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 100%;
    background-color: #fff;
    padding: 60px 45px;
}
@media only screen and (max-width: 767.98px) {
    .login .login-form {
        max-width: 100%;
   }
}
@media only screen and (max-width: 575.98px) {
    .login .login-form {
        padding: 40px 20px;
   }
}

.login .login-form .form-wrapper .input-wrapper .label, .login .login-form .form-wrapper .input-wrapper .input {
    display: block;
    width: 100%;
}
.login .login-form .form-wrapper .input-wrapper .label {
    padding-bottom: 3px;
    font-size: 0.9rem;
    color: #393939;
}
.login .login-form .form-wrapper .input-wrapper .input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(251, 221, 187, 0.51);
}
.login .login-form .form-wrapper .action-help {
    padding: 20px 0;
}

.login .login-form .form-wrapper .action-help .help-link {
    color: rgba(0, 48, 46, 0.91);;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 0.9rem;
}
.login .login-form .form-wrapper .action-help .help-link:hover {
    color: #fe7092;
}
.login .login-form .form-wrapper .actions {
    display: flex;
    flex-flow: column;
}
.login .login-form .form-wrapper .actions .action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #184d47;
    text-decoration: none;
    border: 1px solid #184d47;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.login .login-form .form-wrapper .actions .action:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 25px -15px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767.98px) {
    .login .login-decoration {
        display: none;
   }
}