@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    font-family: 'Arvo', serif;
    transition: all .3s linear;
    font-family: 'Times New Roman', Times, serif;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    width: 10vw;
}

header .navbar a {
    color: #EDF2F4;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    font-weight: bold;
}

header .logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 6%;
    margin-top: -1%;
    text-decoration: none;
    left: 0%;
}


.img1 {
    height: 500px;
    width: 500px;
}

header .navbar a:hover {
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

header #menu-btn {
    display: none;
    color: #EF233C;
    cursor: pointer;
}

header #menu-btn:hover {
    color: #EDF2F4;
}


.card .burger-detail .subheading {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}

.card .burger-detail blockquote {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1em;
    color: white;

}

.card:hover .burger-detail {
    height: calc(82%);
    padding-top: 100px;
}

.card .burger-detail h5 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
    color: white;

}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background: rgba(251, 221, 187, 0.51);
    display: flex;
    align-items: center;
    justify-content: center;
}


.login {
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
}

.login .login-form {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 900px;
    background-color: #fff;
    padding: 70px 80px;
}

.login .register-form {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 900px;
    background-color: #fff;
    padding: 40px 80px;
}

@media only screen and (max-width: 767.98px) {
    .login .login-form {
        max-width: 100%;
    }
}

@media only screen and (max-width: 575.98px) {
    .login .login-form {
        padding: 40px 20px;
    }
}

.login .login-form .form-wrapper .input-wrapper .label,
.login .login-form .form-wrapper .input-wrapper .input {
    display: block;
    width: 100%;
}

.login .login-form .form-wrapper .input-wrapper .input {
    margin-bottom: 5%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(251, 221, 187, 0.51);
}

.login .login-form .form-wrapper .action-help .help-link {
    color: rgba(0, 48, 46, 0.91);
    ;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 0.9rem;
}

.login .login-form .form-wrapper .action-help .help-link:hover {
    color: #040404;
}

.login .login-form .form-wrapper .actions {
    display: flex;
    flex-flow: column;
}

.login .login-form .form-wrapper .actions .action:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 25px -15px rgba(236, 22, 22, 0.5);
}

@media only screen and (max-width: 767.98px) {
    .login .login-decoration {
        display: none;
    }
}


@media only screen and (max-width: 767.98px) {
    .login .register-form {
        max-width: 100%;
    }
}

@media only screen and (max-width: 575.98px) {
    .login .register-form {
        padding: 40px 20px;
    }
}

.login .register-form .form-wrapper .input-wrapper .label,
.login .register-form .form-wrapper .input-wrapper .input {
    display: block;
    width: 100%;
}

.login .register-form .form-wrapper .input-wrapper .input {
    margin-bottom: 5%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(251, 221, 187, 0.51);
}

.login .register-form .form-wrapper .action-help .help-link {
    color: rgba(0, 48, 46, 0.91);
    ;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 0.9rem;
}

.login .register-form .form-wrapper .action-help .help-link:hover {
    color: #040404;
}

.login .register-form .form-wrapper .actions {
    display: flex;
    flex-flow: column;
}

.login .register-form .form-wrapper .actions .action:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 25px -15px rgba(236, 22, 22, 0.5);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 500px;
    grid-gap: 10%;
    padding: 25px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 40%;
}





#wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100vh;
    overflow: hidden;
    top: 0;
    margin-left: -250px;
    background: #FBFBFB;
    border-radius: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}



.bg{
    background-color: white;
    height: 100vh;
}
.navbar-header{
    margin-left: 15%;
    margin-top: 30%;
}

.navbar-header a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 48, 46, 1);
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 15rem;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: rgb(2, 29, 1);
    background: #FBFBFB;
    border-radius: 10px;
    border: 2px solid #EFEFEF;;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav.sidebar-brand a {
    color: #999999;
}

.sidebar-nav.sidebar-brand a:hover {
    color: #fff;
    background: none;
}


@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    .fixed-brand {
        width: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }

    

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }

    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }
}

span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
    color: black;
    background-color: rgba(243, 194, 148, 1);
}

span.onee {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
    color: black;
    background-color: rgba(6, 231, 117, 1);
}

.card1{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn2{
    color: rgba(6, 231, 117, 1);
    text-decoration: none;
    font-weight: bold;
}


.col-lg-12 h1{
    color: rgba(0, 48, 46, 1);
    font-weight: 600;
}

